<div class="container">
    <div class="interior">
        <a class="btn" href="#open-modal">👋 Process new text</a>
    </div>
</div>
<div id="open-modal" class="modal-window">
    <div>
        <a id="modal-close" href="#" title="Close" class="modal-close">Close</a>
        <input id="user_text_name" placeholder="Name"><br><br>
        <textarea id="user_text" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Text"></textarea>
        <button type="button" class="btn btn-primary" onclick="handleClick()">Let's process</button>
    </div>
</div>
</div>